@media screen and (max-width: 1380px) {
	.header-nav-container {
		padding: 0 65px;
	}

	.main-title {
		margin: 55px 0 71px;
		font-size: 45px;
		line-height: 1.5;
	}

	.choice-wrapper {
		padding: 0 65px;
	}

	.new-taste-wrapper {
		padding: 0 65px;
	}

	.new-taste-title {
		margin-left: 0;
	}

	.district-wrapper {
		padding: 0 65px;
	}

	.district-text {
		font-size: 19px;
		color: #484848;
	}
}

@media screen and (max-width: 918px) {
	.header-nav-container {
		padding: 0 45px;
	}

	.main-title {
		margin: 45px 0 51px;
		font-size: 35px;
		line-height: 1.5;
	}

	.header-search {
		width: 374px;
		height: 41px;
		top: -21px;
		font-size: 14px;
		background-position: top 7px left 20px;
	}

	.choice-wrapper {
		padding: 0 45px;
	}

	.section-title {
		margin: 40px 0 10px;
		font-size: 24px;
	}

	.choice-item-name {
		font-size: 20px;
	}

	.choice-item-text {
		font-size: 16px;
	}

	.new-taste-wrapper {
		padding: 0 45px;
	}

	.new-taste-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 46px 30px;
	}

	.district-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.district-wrapper {
		padding: 0 45px;
	}

	.district-text {
		font-size: 24px;
	}
}

@media screen and (max-width: 768px) {
	.header-nav-container {
		padding: 0 20px;
	}

	.nav-logo-img {
		width: 96.6px;
		height: 41.4px;
	}

	.main-title {
		font-size: 28px;
		line-height: 1.2;
	}

	.nav-item {
		font-size: 14px;
		line-height: 1.22;
	}

	.nav-item:last-child {
		margin-left: 24px;
	}

	.choice-container {
		grid-template-columns: 1fr;
		gap: 30px;
	}

	.new-taste-wrapper {
		padding: 0 20px;
	}

	.district-wrapper {
		padding: 0 65px;
	}


	.district-container {
		grid-template-columns: 1fr;
		padding-bottom: 42px;
	}

	.district-wrapper {
		padding: 0 45px;
	}


}

@media screen and (max-width: 620px) {
	.main-title {
		margin: 25px 0 41px;
		font-size: 24px;
		line-height: 1.2;
	}

	.nav-item {
		font-size: 14px;
		line-height: 1.22;
	}

	.nav-item:last-child {
		margin-left: 22px;
	}

	.header-search {
		width: 274px;
		height: 25px;
		top: -14px;
		font-size: 12px;
		padding-left: 43px;
		background-size: 13.2px 15px;
		background-position: top 3px left 15px;
	}

	.choice-wrapper {
		padding: 0 20px;
	}

	.new-taste-container {
		grid-template-columns: 1fr;
		gap: 30px;
	}
}

@media screen and (max-width: 477px) {
	.main-title {
		margin: 15px 0 31px;
		font-size: 18px;
		line-height: 1.2;
	}

	.district-wrapper {
		padding: 0 20px;
	}
}
